<%= form_with(model: recipe_ingredient, local: true) do |form| %>
  <% if recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
      <% recipe_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Ingredient_id %>
    <%= form.text_field :Ingredient_id, id: :recipe_ingredient_Ingredient_id %>
  </div>

  <div class="field">
    <%= form.label :Recipe_id %>
    <%= form.text_field :Recipe_id, id: :recipe_ingredient_Recipe_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
