
<% session[:recipe_id] =  @recipe.id %>
<div class = "container">
  <div class = "row">


<h1>
  <strong>Recipe:</strong> <%= @recipe.name %>

</h1>
  </div>
  <div class = "row">
  <div class = "column- 2">
<h2>Ingredients</h2>
<% @recipe_ingredients.each do |recipe_ingredient| %>
  <p><%= recipe_ingredient.Ingredient.name %></p>
<%end%>
</div>

<div class=" col-3">

<h2>Price: <%=  @recipe.price  %></h2>
</div>
<div class=" col-4">
<a class="btn btn-primary m-1" style="color: black" href="/crusts">Buy</a>
</div>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
  </div>
</div>
</div>