
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Recipe</th>
    <th scope="col">Thiknes</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>

  </tbody>
</table>





<p>
  <strong>Customer:</strong>
  <%= @order.Customer %>
</p>

<p>
  <strong>Delivery info:</strong>
  <%= @order.Delivery_info %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
