<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.Customer %>
</p>

<p>
  <strong>Delivery info:</strong>
  <%= @order.Delivery_info %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
